/* Setting up flexboxes */
* {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
}
html {
  overflow: auto;
}
html, body, .main, .content, .articles, nav, nav ul {
  display: flex;
}
html, body, .content, nav, nav ul {
  flex-direction: column;
}
body{
  flex:1 0 800px;
}
.main, .articles {
  flex-direction: row;
}
/* Splitting Main, Header, and Footer within the body */
.main {
  flex: 8 8 800px;
  order: 2;
  background-color: green;
}
header {
  flex: 1 1 50px;
  order: 1;
  background-color: blue;
}
footer {
  flex: 1 1 50px;
  order: 3;
  background-color: red;
}
/* Splitting content, navigation, and aside within main */
.content {
  flex: 5 0 400px;
  background-color: teal;
  order: 2;
}
nav {
  order: 1;
  flex: 0 0 auto;
  background-color: coral;
}
.aside {
  order: 3;
  flex: 0 0 200px;
  background-color: yellow;
}
/* Splitting top, bottom, and banner within main */
.top {
  background-color: purple;
  flex: 3 1 300px;
}
.bottom {
  background-color: violet;
  flex: 2 1 200px;
}
.banner {
  flex: 1 1 50px;
  background-color: cyan;
}
.a1 {
  background-color: maroon;
  flex: 1 0 100px;
  order: 1;
}
.a2 {
  background-color: green;
  flex: 2 0 200px;
  order: 2;
}
.a3 {
  background-color: plum;
  flex: 1 0 100px;
  order: 3;
}
.b1 {
  background-color: lime;
  flex: 1 0 200px;
}
.b2 {
  background-color: aqua;
  flex: 1 0 200px
}
nav p {
  text-align: center;
}
nav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li {
  display: flex;
  justify-content: center;
  flex: auto;
}
a {
  flex: auto;
  text-align: center;
}
a:link {
  background-image: linear-gradient(0deg, hsl(180,40%,40%), hsl(180,90%,90%));
}
a:visited {
}
a:hover {
  background-image: linear-gradient(0deg, hsl(180,50%,50%), hsl(180,100%,100%));
}
a:active {
  background-image: linear-gradient(0deg, hsl(180,100%,100%), hsl(180,50%,50%));
}
@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    flex: auto;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .aside {
    flex: 0 0 100px;
  }
  li {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .top, .bottom {
    flex-direction: column;
  }
  * {
    flex: auto !important;
  }
  .a2 {
    order: 1;
  }
  .a1 {
    order: 2;
  }
}
